<div style="display: flex; justify-content: space-between;">
  <app-activity-form></app-activity-form>
  <button nz-button nzType="primary" (click)="export()">
    <i nz-icon nzType="cloud-download"></i>
    Get file excel
  </button>
</div>
<nz-table #dynamicTable [nzScroll]="{ y: '60vh' }" [nzData]="listOfData" [nzTableLayout]="'auto'" [nzBordered]="true"
  [nzSimple]="false" [nzLoading]="false" [nzPaginationType]="'small'" [nzPaginationPosition]="'bottom'"
  [nzShowSizeChanger]="true" [nzFrontPagination]="true" [nzShowPagination]="true" [nzFooter]="null"
  [nzTitle]="true ? 'Activity List' : null" [nzSize]="'default'"
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
    <tr>
      <th nzWidth="40px" *ngIf="true" [nzLeft]="fixedColumn"></th>
      <th [nzLeft]="fixedColumn">Status</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>

      <th [nzRight]="fixedColumn">Billing</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr>
        <td [nzLeft]="fixedColumn" [(nzExpand)]="data.expand"></td>
        <td>
          <nz-badge [nzStatus]="'processing'" [nzText]="'In Process'"
            *ngIf="compareDate(data.startDate, data.endDate) == true">
          </nz-badge>
          <nz-badge [nzStatus]="'error'" [nzText]="'Complete'"
            *ngIf="compareDate(data.startDate, data.endDate) == false">
          </nz-badge>
          <nz-badge [nzStatus]="'success'" [nzText]="'Incomplete'"
            *ngIf="compareDate(data.startDate, data.endDate) == 'Incomplete'">
          </nz-badge>
        </td>
        <td>{{ data.title }}</td>
        <td>{{ data.startDate }}</td>
        <td>{{ data.endDate }}</td>
        <td>
          <nz-space>
            <nz-space-item>
              <button nz-button nzType="default" nzShape="circle" (click)="showNdisModal(data)">
                <i nz-icon nzType="file-done" nzTheme="outline"></i>
              </button>
              <nz-modal [nzWidth]="'80%'" [(nzVisible)]="data.isNdisBillVisible" nzTitle="NDIS Billing"
                (nzOnCancel)="handleNdisCancel(data)" (nzOnOk)="handleNdisOk(data)">
                <ng-container *nzModalContent>
                  <button nz-button nzType="primary" (click)="exportNdisBill(data)">
                    <i nz-icon nzType="cloud-download"></i>
                    Get file excel
                  </button>
                  <nz-table #ndisBillTable [nzData]="data.client" [nzPaginationType]="'small'">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact Detail</th>
                        <th>NDIS No.</th>
                        <th>Total cost</th>
                      </tr>
                    </thead>
  <tbody>
    <tr *ngFor="let d of ndisBillTable.data">
      <td>{{ d.displayName }}</td>
      <td>{{ d.email }}</td>
      <td>{{ d.contactDetail }}</td>
      <td>{{ d.NDISNo }}</td>
      <td>{{ '$' + activityService.calNdisPrice(data.support, data.startDate, data.endDate) }}</td>
    </tr>
  </tbody>
</nz-table>
</ng-container>
</nz-modal>
</nz-space-item>
<nz-space-item>
  <button nz-button nzType="default" nzShape="circle" (click)="showExtraModal(data)">
    <i nz-icon nzType="dollar" nzTheme="outline"></i>
  </button>
  <nz-modal [nzWidth]="'80%'" [(nzVisible)]="data.isExtraBillVisible" nzTitle="Extra Billing"
    (nzOnCancel)="handleExtraCancel(data)" (nzOnOk)="handleExtraOk(data)"
    [nzOkDisabled]="validateForm.value.time == ''">
    <ng-container *nzModalContent>
      <button nz-button nzType="primary" (click)="exportExtraBill(data)">
        <i nz-icon nzType="cloud-download"></i>
        Get file excel
      </button>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(data)">
        <nz-tabset>
          <nz-tab nzTitle="Total Bill">
            <nz-table #extraBillTable [nzData]="data.invoice.info" [nzPaginationType]="'small'">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact Detail</th>
                  <th>Service</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of extraBillTable.data">
                  <td>{{ d.client.displayName }}</td>
                  <td>{{ d.client.email }}</td>
                  <td>{{ d.client.contactDetail }}</td>
                  <td>{{ d.service.title }}</td>
                  <td>{{ '$' + d.service.price }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    Total Cost: ${{ data.invoice.totalCost }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="Add Extra Service">
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Time</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Please choosen time or delete this field.">
                <nz-date-picker nzFormat="yyyy-MM-dd HH:mm:ss" nzShowTime placeholder="Time" formControlName="time"
                  style="width: 100%;">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Service
              </nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Please choosen service name or delete this field.">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select marriott service" formControlName="service">
                  <nz-option *ngFor="let s of services" [nzLabel]="s.title" [nzValue]="s"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Client Email
              </nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                nzErrorTip="Please choosen client email or delete this field.">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select client email" formControlName="client">
                  <nz-option *ngFor="let cl of data.client" [nzLabel]="cl.email" [nzValue]="cl"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-tab>
        </nz-tabset>
      </form>
    </ng-container>
  </nz-modal>

</nz-space-item>
<nz-space-item style="display: flex; justify-content: center; align-items: center;">
  <a nz-popconfirm nzPopconfirmTitle="Are you sure?" [nzIcon]="iconTpl" (nzOnConfirm)="activityService.deleteActivity(data._id).subscribe()" >Delete</a>
  <ng-template #iconTpl>
    <i nz-icon nzType="delete" nzTheme="outline" style="color: red;"></i>
  </ng-template>
</nz-space-item>
</nz-space>
</td>
</tr>
<tr [nzExpand]="data.expand">
  <nz-table nzSize="middle" [nzShowPagination]="false" [nzData]="listOfData">
    <thead>
      <tr>
        <th>Type</th>
        <th>Category</th>
        <th>Inspector Email</th>
        <th>Absent</th>
        <th>Support</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ data.type }}</td>
        <td>{{ data.category }}</td>
        <td>{{ data.inspector.email }}</td>
        <td>{{ data.absent }}</td>
        <td>{{ data.support }}</td>
        <td>{{ data.description }}</td>
      </tr>
    </tbody>
  </nz-table>
</tr>
</ng-container>
</tbody>
</nz-table>
