[nz-form] {
  width: 50%;
}

.account-settings {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar-setting {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

button {
  margin-left: 8px;
}
