<nz-table #dynamicTable [nzScroll]="{ y: '60vh' }" [nzData]="listOfData" [nzTableLayout]="'auto'" [nzBordered]="true"
  [nzSimple]="false" [nzLoading]="false" [nzPaginationType]="'small'" [nzPaginationPosition]="'bottom'"
  [nzShowSizeChanger]="true" [nzFrontPagination]="true" [nzShowPagination]="true"
  [nzFooter]="null" [nzTitle]="true ? 'Staff List' : null" [nzSize]="'default'"
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
    <tr>
      <th [nzLeft]="fixedColumn">Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th [nzRight]="fixedColumn">Avatar</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr>
        <td [nzLeft]="fixedColumn">{{ data.displayName }}</td>
        <td>{{ data.email }}</td>
        <td [nzEllipsis]="true">{{ data.phone }}</td>
        <td *ngIf="data.avatarPath">
          <img nz-image width="50px" height="50px"
            [nzSrc]="data.avatarPath" alt="" style="cursor: pointer;"/>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
